*{
font-family:Helvetica;
}

.hero{
  height: 504px;
  justify-content: center;
  align-content: center;
}


/* gambar-hero */
#gambar {
position: relative;
box-sizing: border-box;
}

.bg {
display: flex;
justify-content: flex-end;
height: 243px;
border-radius: 60px 0px 0px 0px;
background-color: DarkBlue;
}

#mobil {
position: absolute;
z-index: 1;
width: 704px;
}

@media (max-width: 991.98px){
    #gambar{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 20px;
    }

    #mobil{
        position : absolute;
        z-index : 1;
        width: 344.22px;
    }

    .bg{
        height: 118.81px;
        width: 344.22px;
        border-radius: 60px 0px 0px 0px;
        background-color: DarkBlue;
    }
}

/* sewa-mobil */
.sewa-mobil{
background-color: #0D28A6;
border-radius: 13px;
padding : 30px 0px;
color : white;
margin : 50px 0px;
}

.sewa-mobil h2{
font-weight: bolder;
}

/* testimonial */
.testimonial{
margin : 50px 0px;
}

.testimonial h2{
font-weight: bolder;
}

/* why-us */
.why-us{
margin: 50px 0px;
}
.why-us h2{
font-weight: bolder;

}
#whyus-item{
border: 1px solid #D0D0D0 ;
border-radius: 8px;
margin : 15px 0px;
}

#whyus-item h3{
font-size: 16px;
font-weight: 700;
}

#whyus-item p{
font-size: 14px;
line-height: 20px;
}

/* best car */
.best-car h1{
font-weight: bolder;
}

/* faq */
.faq{
margin: 50px 0px;
}

.faq h2{
font-weight: bolder;
}